@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(./Rejoiuce-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html, body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}
#cursor {
    height: 7vw;
    width: 7vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#cursor h5{
    font-weight: 500;
    font-size: 1.15vw;
}
#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
nav {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 2vw 3vw;
}
nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1 {
    font-family: rejoy;
    font-size: 25vw;
    font-weight: 100;
    line-height: 27vw;
}
#page1-content h1 span {
    font-family: rejoy;
    display: inline-block;
}

#page2{
    height: 100vh;
    width: 100%;
    /* background-color: beige; */
    position: relative;
    padding: 5vw 2.8vw;
}

#page2-top {
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
}
#page2-top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
} 
#page2-top h4 {
    font-size: 1.7vw;
    font-weight: 500;
}

.elem {
    overflow: hidden;
}
.elem h1{
    font-size: 4.2vw;
    font-weight: 500;
}
#page3 {
    min-height: 100vh;
    width: 100%;
    position:relative;
    padding: 3vw;
}
#page3-top {
    /* background-color: red; */
    text-align: center;
}
#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
#page3-top h4 span {
    font-size: 0.7vw;
    background-color: black;
    color: #fff;
    padding: 3px 8px;
    border-radius: 10px;
}
#page3-top h2 {
    font-size: 4vw;
    font-weight: 500;
}
#page3-elements {
    height: 75vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
    /* background-color: red; */
}
#page3-elements .box {
    height: 100%;
    width: 32.7%;
    position: relative;
    /* background-color: blue; */
}
#page3-elements .box video {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
#page3-elements .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: cen;
    transition: all linear 0.7s;
}
#page3-elements .box:hover img {
    opacity: 0;
}
#page4{
    height: 100vh;
    width: 100%;
    /* background-color: beige; */
    position: relative;
    padding: 5vw 2.8vw;
}
#page4-top {
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
}
#page4-top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
} 
.element {
    overflow: hidden;
}
.element h1{
    font-size: 4.2vw;
    font-weight: 500;
}
/* #page5 {
    height: 100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page5 video {
    height: 100%;
}
#page5 svg {
    position: absolute;
    height: 65%;
} */
#page6 {
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}
#page6 h1 {
    font-size: 10vw;
    font-family: rejoy;
    font-weight: 100;
    border-bottom: 1px solid #000000;
    width: 96%;
    margin-left: 2%;
}

#swiperdiv {
    height: 58vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    margin-top: -3%;
    
}
.swiper {
    width: 130%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 17px;
    /* background: #44d0c9; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }


  .swiper-slide img {
    display: block;
    width: 19.5%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px;
  }

  
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    opacity: 1;
}
#loader h3 {
    font-size: 2vw;
}
